# Byte-compiled / cache files
__pycache__/
*.py[cod]

# SQLite database
*.sqlite3
db.sqlite3

# Logs
*.log

# Environment variables
.env

# Django static files
staticfiles/

# VS Code settings
.vscode/

# macOS system files
.DS_Store
